@media (max-width: 1280px)
	.container
		max-width: 960px
	.hero
		&__text
			max-width: 527px
@media (max-width: 992px)
	.container
		max-width: 795px
	.header
		&-wrapper
			padding: 26px 30px
		&__navbar
			&-menu
				margin-right: 30px
	.list
		&__item
			margin-right: 30px
			&:last-child
				margin-right: 0
	.hero
		&-wrapper
			background-position: 60% center
			padding-top: 51px
			padding-left: 53px
			padding-bottom: 42px
		&__text
			max-width: 456px
@media (max-width: 767px)
	.container
		max-width: 728px
	body
		padding-top: 74px
	.header
		&-wrapper
			padding: 25px 39px
			justify-content: space-between
	.header
		&__mobile
			&_fixed
				position: fixed
				top: 0
				left: 0
				right: 0
				z-index: 4
		&__navbar
			&-menu
				margin: 0
	.navbar
		&-login
			&--mobile
				&--hidden
					display: none
		&-menu
			display: none
			position: fixed
			top: 74px
			right: 0
			left: 0
			bottom: 0
			background-color:	#E8EAE9
			overflow: auto
			&--visible
				display: block
	.list
		flex-direction: column
		align-items: center
		&__item
			margin: 0
			margin-top: 20px
			margin-bottom: 20px
			&--mobile
				&--visible
					display: flex
	.menu-button
		display: flex
		position: relative
		width: 22px
		height: 17px
		align-items: center
		justify-content: space-between
		flex-direction: column
		background-color: $light
		&__line
			background-color: #3A4C66 
			width: 22px
			height: 2px
	.hero
		padding-top: 18px
		&-wrapper
			background-position: 65% center
			padding-top: 41px
			padding-left: 28px
			padding-bottom: 36px
			height: 624px
		&__title
			font-size: 48px
			line-height: 60px
			margin-top: 27px
			margin-bottom: 25px
		&__text
			max-width: 400px
			font-size: 18px
			line-height: 32px
			margin-bottom: 36px
		&__button
			margin-bottom: 38px
	.advantages
		&__advantage
			margin-right: 21px
			&:last-child
				margin-right: 0
@media (max-width: 576px)
	.container
		width: 100%
	.hero
		&-wrapper
			background-image: url(../img/hero/hero-bg.png)
			background-size: auto
			background-position: 77% 50%
			height: 899px
			padding: 381px 20px 36px 20px
