@media (max-width: 1200px)
	.container
		max-width: 960px
@media (max-width: 992px)
	.container
		max-width: 750px
	.header
		&-wrapper
			padding: 26px 30px
	.navbar
		&-menu
			margin-right: 30px
	.list
		&__item
			font-size: 14px
			line-height: 20px
			margin-right: 20px
			&:last-child
				margin-right: 0
	.login
		font-size: 14px
		line-height: 20px
		padding: 9px 18px
@media (max-width: 767px)
	.container
		max-width: 576px
@media (max-width: 576px)
	.container
		width: 92%