*
	box-sizing: border-box
	margin: 0
	padding: 0
	border: 0
input:focus
	outline: none
a
	text-decoration: none
a:focus,
a:active
	outline: none
ul li
	list-style: none
body
	font-family: 'Open Sans', sans-serif
.scroll
	&--lock
		overflow: hidden
img
	max-width: 100%
button
	cursor: pointer
	outline: none
.scroll
	&--lock
		overflow: hidden
.container
	max-width: 1280px
	margin: 0 auto