.hero
	padding-top: 36px
	padding-bottom: 120px
	&-wrapper
		background-image: url(../img/hero/hero-bg.jpg)
		background-color: #E8EAE9
		background-repeat: no-repeat
		background-size: cover
		background-position: 50% center
		padding-top: 64px
		padding-left: 107px
		padding-bottom: 46px
		height: 700px
		border-radius: 8px
	&__badge
		font-weight: 600
		font-size: 14px
		line-height: 20px
		color: #36B37E
		padding: 6px 16px
		background: rgba(54, 179, 126, 0.1)
		border-radius: 2000px
		text-transform: uppercase
	&__title
		max-width: 425px
		font-family: $HK
		font-weight: 700
		font-size: 56px
		line-height: 68px
		color: $text-color
		margin-top: 31px
		margin-bottom: 34px
		letter-spacing: 0.3px
	&__text
		max-width: 652px
		height: 108px
		font-weight: normal
		font-size: 20px
		line-height: 36px
		color: $text-color-gray
		margin-bottom: 52px
		overflow: auto
	&__button
		display: inline-block
		padding: 15px 40px
		background-color: #183B56
		border-radius: 8px
		font-weight: bold
		font-size: 18px
		line-height: 25px
		color: $light
		margin-bottom: 48px
.advantages
	display: flex
	flex-wrap: wrap
	&__advantage
		display: flex
		align-items: center
		margin-right: 31px
		&:last-child
			margin-right: 0
.advantage
	&__image
		margin-right: 6px
	&__name
		font-family: 'hkgrotesk'
		font-style: normal
		font-weight: 500
		font-size: 16px
		line-height: 20px
		color: $text-color
		letter-spacing: 0.3px

			