.subscribe
	background-color: #1565D8
	padding: 95px 0 100px 0
	&-wrapper
		max-width: 1170px
		margin: 0 auto
		padding-left: 15px
		padding-right: 78px
		display: flex
		justify-content: space-between
		align-items: center
	&__description
		max-width: 436px
	&__title
		font-family: $HK
		font-weight: bold
		font-size: 48px
		line-height: 60px
		letter-spacing: 0.2px
		color: $light
		margin-bottom: 19px
	&__text
		font-size: 18px
		line-height: 32px
		color: $light
	&__form
		position: relative
		width: 447px
		height: 56px
	&__icon
		position: absolute
		font-size: 16px
		line-height: 18px
		top: 20px
		left: 20px
		z-index: 9
	&__input
		width: 100%
		min-height: 56px
		padding: 0px 187px 0px 48px
		font-weight: 600
		font-size: 16px
		line-height: 22px
		color: #959EAD
		border-radius: 8px
	&__button
		position: absolute
		right: 5px
		top: 5px
		padding: 11px 27px
		background-color: #183B56
		border-radius: 4px
		font-weight: bold
		font-size: 18px
		line-height: 25px
		text-align: center
		color: $light

