.trends
	padding-bottom: 98px
	&-container
		max-width: 1165px
		margin: 0 auto
		padding: 0 15px
	&__head
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 52px
	&__title
		@include title-mixin
		letter-spacing: 0.3px
	&__cards
		display: none
		&--visible
			display: flex
			justify-content: space-between
			flex-wrap: wrap
.tabs
	width: 285px
	display: flex
	justify-content: space-between
	&__item
		font-size: 18px
		line-height: 25px
		color: #5A7184
		cursor: pointer
		&--active
			font-weight: 700
			color: $text-color
.cards
	padding-left: 5px
	&__card
		margin-bottom: 50px
.card
	width: 260px
	height: 441px
	display: flex
	flex-direction: column
	&__image
		height: 350px
		object-fit: cover
		border-radius: 8px
		margin-bottom: 20px
	&__title
		font-family: $HK
		font-weight: bold
		font-size: 24px
		line-height: 32px
		color: $text-color
		margin-bottom: 5px
		margin-left: 10px
		letter-spacing: 0.3px
.sale
	display: flex
	justify-content: space-between
	align-items: center
	padding-left: 10px
	padding-right: 10px
	&__price
		font-size: 20px
		line-height: 36px
		color: #5A7184
	&__cart
		display: inline-block
		width: 23px
		height: 23px
.view
	&-more
		display: flex
		flex-direction: column
		align-items: center
		width: 260px
		height: 350px
		background-color: #1565D8
		border-radius: 8px
		padding: 120px 22px 104px
		&__plus
			font-size: 32px
			line-height: 37px
			color: $light
			margin-bottom: 25px
		&__text
			font-family: $HK
			font-weight: bold
			font-size: 24px
			line-height: 32px
			text-align: center
			color: #FFFFFF
			letter-spacing: 0.5px

